.main-form {
  text-align: center;
  &__input {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0;
    & label {
      font-size: $input-label-font-size;
      width: 20%;
    }
    & input {
      border-radius: 1.5rem;
      text-align: center;
      width: 40%;
      border: none;
      font-family: 'Gloria Hallelujah', cursive;
      font-size: $input-font-size;
      background-color: $input-background-color;
    }
    & button {
      align-self: center;
    }
  }
}
