.buttons-container {
  width: 50%;
  margin: auto;
}

.main-form {
  text-align: center;
  &__input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.5rem 0;
    & label {
      font-size: $input-label-font-size;
      width: 20%;
    }
    & input {
      border-radius: 1.5rem;
      text-align: center;
      width: 40%;
      border: none;
      font-family: 'Gloria Hallelujah', cursive;
      font-size: $input-font-size;
      background-color: $input-background-color;
      height: 3rem;
    }
    & select {
      background-color: $input-background-color;
      width: 40%;
      border: none;
      border-radius: 1.5rem;
      height: 3rem;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 1rem 0;
    & button {
      width: 45%;
    }
    &--race button {
      width: 95%;
    }
  }
}
