@import 'bootstrap/scss/bootstrap';
@import './colorMatrix';
@import './fonts';
@import './main-form';
@import './button';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  width: 90%;
  margin: auto;
  color: $text-color;
  font-family: 'Gloria Hallelujah', cursive;
  & section {
    margin: 2rem 0;
  }

  .title {
    font-size: $title-font-size;
    text-align: center;
  }
}
