$background-color: #18181a;
$text-color: rgb(243, 157, 45);
$hover-button-text-color: white;
$hover-button-background-color: rgba(183, 183, 183, 0.732);
$input-background-color: rgb(183, 183, 183);
$race-background-hover-color: rgba(0, 191, 0, 0.765);
