.main-form__buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1rem 0;

  & div {
    width: 45%;
  }

  &--race div {
    width: 95%;
  }
}

.form-button {
  width: 20%;
}

.buttons-container {
  width: 50%;
  margin: auto;
}
