.main-form__input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  margin: 1.5rem 0;

  & label {
    font-size: $font-size-middle;
    width: 20%;
  }

  & input {
    border-radius: 1rem;
    text-align: center;
    width: 45%;
    border: none;
    font-family: $main-font-family;
    font-size: $font-size-small;
    background-color: $input-background-color;
    height: 3rem;
  }

  & select {
    background-color: $input-background-color;
    width: 45%;
    border: none;
    border-radius: 1rem;
    height: 3rem;
    font-family: $main-font-family;
  }
}
